*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: large;
    font-weight: bolder;
}
/*( operBtns, numBtns ) */
body{
    display: flex;
    justify-content: center;
}

#box{
    display: flex;
    flex:none;
    flex-direction: column;
    align-items: center;

    width: 340px;
    height: 495px;
    margin-top: 40px;
    padding: 25px;
    gap: 10px;
    border-radius: 25px;

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 15px;
    border-color: rgb(194, 170, 147);

    background-color: rgb(235, 213, 187);
}

#textBox{
    background-color: rgb(135, 169, 177);
    border-style: solid;
    border-width: 0px;
    border-top-width: 10px;
    border-color: rgb(81, 123, 133);;
    color: rgb(255, 255, 255);

    width: 280px;
    height: 60px;
    text-align: right;
    font-size: xx-large;
    padding: 7px;
}

#topBtns{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ylwBtn{
    border-color: rgb(201, 142, 66);

    color: rgb(241, 231, 224);
    background-color: rgb(219, 178, 82);
}

.ylwBtn:active{
    background-color: rgb(201, 142, 66);
}

.topBtn{
    width: 90px;
    height: 55px;

    
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 10px;
}

/*back is in its own so that it can be the width of a sqrbtn but height of topbtn*/
.back{
    width: 60px;
    height: 55px;

    /*border stuff for buttons really should have been organized neater BUT
    i didn't so*/
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 10px;
}


#mainBtns{
    display: flex;
    gap: 10px;
}

#operBtns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#numBtns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*width: 130px;*/
    gap: 10px;
}

.sqrBtn{
    width: 60px;
    height: 65px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 10px;
}

.numBtn{
    /*width: 60px;
    height: 65px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 10px;*/

    border-color: rgb(63, 45, 43);

    color: rgb(226, 213, 204);
    background-color: rgb(107, 79, 75);
    
}

.numBtn:active{
    background-color: rgb(63, 45, 43);
}

.operBtn{
    /*width: 60px;
    height: 65px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 10px;*/

    border-color: rgb(156, 87, 47);

    color: rgb(226, 213, 204);
    background-color: rgb(199, 130, 66);
}

.operBtn:active{
    background-color: rgb(156, 87, 47);
}
